@import './base.css';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

/* GLOBAL START */

body {
  background-image: url(https://cdn.slavic.media/img/MRI-2/thumbnail);
  backdrop-filter: var(--blur-1);
  background-color: black;
  overflow-x: hidden;
}

main,
footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: var(--content-font);
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  overflow: hidden;
}
.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.reveal {
  opacity: 0;
  position: relative;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.reveal.active {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

hr {
  border: var(--border-1);
  z-index: 3;
}
hr.quater {
  margin: var(--grid-gap-3) 0 !important;
}

hr:not(hr.semi) {
  margin: 40px 0;
}
.semi {
  margin: var(--grid-gap-2) 0;
  opacity: 0 !important;
}
.visually-hidden {
  z-index: -9999999;
  font-size: 0.1px !important;
}

/* BROWSER SETTINGS START */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: var(--border-radius-2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}
::-moz-selection {
  background: rgba(var(--secondary-color), 0.5);
}
::selection {
  background: rgba(var(--secondary-color), 0.5);
}
/* BROWSER SETTINGS END */

/* ICONS START */
.iconify,
footer a.pi,
main i,
main span.pi,
.icon {
  color: white;
  vertical-align: middle;
  fill: white;
}
.iconify:hover,
main i:hover,
footer a.pi:hover,
.icon:hover {
  color: rgb(var(--primary-color));
  fill: rgb(var(--primary-color));
}
.iconify,
.iconify:hover,
main i,
footer a.pi,
footer a.pi:hover,
.icon,
.icon:hover {
  -o-transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  transition: var(--transition-1);
  cursor: pointer;
  -webkit-transition: var(--transition-1);
}
/* ICONS END */

/* CONTENT STRETCH START */
.v-stretch {
  grid-column: span 1;
  grid-row: span 1;
}
.vv-stretch {
  grid-column: span 1;
  grid-row: span 2;
}
.h-stretch {
  grid-column: span 2;
}
.hh-stretch {
  grid-column: span 3;
}
.hhh-stretch {
  grid-column: span 4;
  grid-row: span 1;
}
/* CONTENT STRETCH END */

/* TEXT START */
.gallery span,
.gallery span:before,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  position: relative;
  line-height: normal;
  font-family: 'SF Pro', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: var(--font-size-1);
}
h2 {
  font-size: var(--font-size-2);
  margin-bottom: var(--grid-gap-3);
}
h3 {
  font-size: var(--font-size-3);
}
h4 {
  font-size: var(--font-size-4);
}
h5 {
  font-size: var(--font-size-5);
}
h6 {
  font-size: var(--font-size-6);
}
p {
  font-size: var(--font-size-6);
}

main li,
main ul,
main ol,
p,
label {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--font-size-6);
  font-family: 'SF Pro', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
main ul {
  list-style-type: circle;
}
main li {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

/* LINK START */
a,
a:hover {
  cursor: pointer;
  text-decoration: none !important;
}
main li a,
i a,
p a {
  -webkit-box-shadow:
    inset 0 -2px 0 rgba(var(--primary-color), 0.5),
    0 0 0 rgba(var(--primary-color), 0.5);
  box-shadow:
    inset 0 -2px 0 rgba(var(--primary-color), 0.5),
    0 0 0 rgba(var(--primary-color), 0.5);
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition:
    box-shadow 0.5s,
    -webkit-box-shadow 0.5s;
}
main li a:hover,
i a:hover,
p a:hover {
  -webkit-box-shadow:
    inset 0 -30px 0 rgba(var(--secondary-color), 0.5),
    0 2px 0 rgba(var(--primary-color), 0.5);
  box-shadow:
    inset 0 -30px 0 rgba(var(--secondary-color), 0.5),
    0 2px 0 rgba(var(--primary-color), 0.5);
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* LINK END */

/* TEXT END */

/* ANIMATIONS START */
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: rgba(var(--light-grey-color), 0.8);
  }
  100% {
    background-color: rgba(var(--light-grey-color), 0.2);
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: rgba(var(--light-grey-color), 0.8);
  }
  100% {
    background-color: rgba(var(--light-grey-color), 0.2);
  }
}
/* GRADIENT START */
.gradient {
  -webkit-animation: gradient 7s ease infinite;
  animation: gradient 7s ease infinite;
  background: -o-linear-gradient(135deg, rgb(var(--primary-color)), rgb(var(--secondary-color)));
  background: linear-gradient(-45deg, rgb(var(--primary-color)), rgb(var(--secondary-color)));
  background-size: 400% 400%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.gallery .gradient:hover {
  background-size: 100% 100%;
}
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* GRADIENT END */

/* ANIMATIONS END */

/* WRAPPER START */
.wrapper-narrow,
.wrapper-standard,
.wrapper-wide,
hr {
  max-width: 100%;
}
.wrapper-standard,
.wrapper-standard hr {
  width: 600px !important;
}
.wrapper-wide,
.wrapper-wide hr {
  width: 947px;
}
.wrapper-narrow {
  width: 336px;
}
/* WRAPPER END */

/* IMG, IFRAME, SVG START */
iframe {
  border: none;
}
iframe,
img,
svg {
  vertical-align: middle;
}
iframe,
img,
source {
  -webkit-animation: skeleton-loading 1s linear infinite alternate;
  animation: skeleton-loading 1s linear infinite alternate;
  height: 100%;
  width: 100%;
}
/* IMG, IFRAME, SVG END */

/* BUTTON START */
.btn-area #btn,
.btn-area #btn:after {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgb(var(--secondary-color));
  border: solid 1.5px rgb(var(--primary-color));
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: var(--heading-weight);
  line-height: 1.5rem;
  outline: transparent;
}
.btn-area #btn,
.btn-area #btn:after,
.btn-shadow {
  border-radius: var(--border-radius-1);
  padding: 15px 0;
  position: relative;
}
.btn-shadow {
  background: rgb(var(--primary-color));
  -webkit-box-shadow: var(--box-shadow-1);
  box-shadow: var(--box-shadow-1);
  top: -25px;
  z-index: 1;
}
.btn-area a {
  text-decoration: none;
}
#btn {
  border-radius: var(--border-radius-1);
  cursor: pointer;
  -o-transition: var(--transition-1);
  transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  z-index: 9;
}
#btn:hover {
  background: #680068;
  -o-transition: var(--transition-1);
  transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
}
#btn:active {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
#btn.clicked {
  -webkit-box-shadow: 0 1px rgb(var(--primary-color));
  box-shadow: 0 1px rgb(var(--primary-color));
}
.loader {
  -webkit-animation: submit-loader 1s ease infinite;
  animation: submit-loader 1s ease infinite;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-bottom-color: rgb(var(--primary-color));
  border-radius: 50%;
  border-top-color: rgb(var(--primary-color));
  height: 25px;
  pointer-events: none;
  width: 25px;
}
@-webkit-keyframes submit-loader {
  0% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes submit-loader {
  0% {
    -webkit-transform: rotate(0turn);
    transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
/* BUTTON END */

/* MEDIA QERRIES START */
@media only screen and (min-width: 300px) {
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 440px) {
  .hideLi {
    display: none;
  }
}
@media only screen and (min-width: 500px) {
  .gallery .reveal {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media only screen and (max-width: 500px) {
  .contact-form-section .contact-form .grid-item:nth-child(even),
  .contact-form-section .contact-form .grid-item:nth-child(odd) {
    margin: 0;
  }
  .grid-container.contact-form,
  .grid-container.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .gallery .grid-item span,
  .gallery .hh-stretch .grid-item span {
    font-size: var(--font-size-5);
  }
  .gallery .grid-item,
  .gallery .grid-item .blur {
    height: 5rem;
  }
}

@media only screen and (min-width: 947px) {
  .hide {
    display: none;
  }
}

@media only screen and (max-width: 1020px) {
  :root {
    --nav-bar-top-position: 50px;
    --homepage-padding: var(--grid-gap-2);
    --menu-padding: 0 var(--homepage-padding);
  }
  .wrapper-narrow,
  .wrapper-standard,
  .wrapper-wide {
    padding-left: var(--homepage-padding);
    padding-right: var(--homepage-padding);
  }
}
/* MEDIA QERRIES END */
